@charset "utf-8";
/* 현대카드 페이지 메인 CSS - main.css */

/* 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Gasoek+One&family=Gugi&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jua&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sunflower:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");
/* 외부css 링크 모음 */
@import url(./reset.css);
@import url(./common.css);
@import url(./grid_12_flex.css);
@import url(./root.css);
@import url(./main-ani.css);
/*===================================================
메인영역 
===================================================*/
/* 임시 타이틀 */
.temt-tit {
  position: absolute;
  color: #888;
  font-size: 2vw;
  text-align: center;
  outline: none;
}

/* 전체 컨테이너 설정 */
.container {
  max-width: 100vw;
  height: auto;
}
/* 메인 페이지 랩박스 */
.main-wrap-box {
  /* 부모박스 설정*/
  position: relative;
  max-width: 100vw;
  height: 100vh;
  background: var(--main-bg-color);
}

/* ============================================
메인페이지 영역 시작
============================================ */

/*============== 1. 로고영역==============*/
.logo-area {
  height: 70px;
}
.logo-area .cont-box {
  padding: 0 20px;
}
.logo-area .col-2 {
  /* 로고앱솔루트의 부모로 만들어줌 */
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}
/* 1-1. 현대카드로고 */
.hd-logo {
  left: 0;
  height: 40px;
  z-index: 1;
}
.hd-logo img {
  height: 40px;
}
/* 1-2. 애플페이로고 */
.apple-logo {
  right: 0;
  height: 40px;
  z-index: 1;
}
.apple-logo a {
  display: block;
}
.apple-logo img {
  height: 40px;
}

/*================= 2. 카드선택 및 오버 영역 설정 =================*/
/* 뒷배경 영역설정 */
#hover-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
#hover-area .col-6 {
  padding: 0;
}
.hover-area-prev {
  width: 100%;
  height: 100%;
  border-radius: 50% 0 0 50%;
}
.hover-area-next {
  width: 100%;
  height: 100%;
  border-radius: 0 50% 50% 0;
}
/* 카드 넘기는 영역 */
.card-nav-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.card-nav-area .col-4 {
  padding: 0;
}
/* nav-area 카드 넘기는 영역 공통 설정 */
.nav-area {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

  text-decoration: none;
}
/* 버튼 스타일 */
.nav-area span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-family: "K2D", sans-serif;
  font-size: min(6rem, 7.5vw);
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
/* 2-1. prev-area 영역 설정 */
.prev {
  right: 0;
  transition: 0.5s;
}
/* 언더바 가상요소 */
.prev::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px #000;

  top: 100%;
  right: 0;

  transition: 0.5s;
}
/* 넘기는 영역 오버시 prev, 가상요소 설정 */
.prev-nav-area:hover .prev,
.prev-nav-area:hover .prev::after {
  right: 40%;
}

/* 2-3. next-area 영역 설정 */
.next {
  left: 0;
  transition: 0.5s;
}
/* 언더바 가상요소 */
.next::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px #000;

  top: 100%;
  left: 0;

  transition: 0.5s;
}
/* 넘기는 영역 오버시 next, 가상요소 설정 */
.next-nav-area:hover .next,
.next-nav-area:hover .next::after {
  left: 40%;
}

/* 2-2. 카드선택 영역 설정 */
.next-nav-area:hover .card-detail {
  right: 40%;
}

/* 카드이름 */

.card.off::before {
  content: "";
  position: absolute;

  top: -50px;
  left: 50%;
  translate: -50%;
}
.card-select-area {
  perspective: 1000px;
}
/*4번째 이름 */
.nexon::before {
  content: "NEXON";
  position: absolute;
  font-size: 50px;
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-family: "josefin Sans", sans-serif;
  font-weight: bold;
  text-shadow: 1px 0 BLACK, -1px 0 BLACK, 0 1px BLACK, 0 -1px BLACK;

  top: -50px;
  left: 50%;
  translate: -50%;
}
/* 3번째 이름 */
.naver::before {
  content: "NAVER";
  position: absolute;
  font-size: 50px;
  color: #00a414;
  text-shadow: 0 0 5px #000;
  font-family: "josefin Sans", sans-serif;
  font-weight: bold;
  text-shadow: 1px 0 BLACK, -1px 0 BLACK, 0 1px BLACK, 0 -1px BLACK;

  top: -50px;
  left: 50%;
  translate: -50%;
}
/* 2번째 이름 */
.musinsa::before {
  content: "MUSINSA";
  position: absolute;
  font-size: 50px;
  color: #000;
  text-shadow: 0 0 5px #000;
  font-family: "josefin Sans", sans-serif;
  font-weight: bold;
  text-shadow: 1px 0 BLACK, -1px 0 BLACK, 0 1px BLACK, 0 -1px BLACK;

  top: -50px;
  left: 50%;
  translate: -50%;
}
/* 1번째 이름 */
.starbucks::before {
  content: "STARBUCKS";
  position: absolute;
  font-size: 50px;
  color: #00704a;
  text-shadow: 0 0 5px #000;
  font-family: "josefin Sans", sans-serif;
  font-weight: bold;
  text-shadow: 1px 0 BLACK, -1px 0 BLACK, 0 1px BLACK, 0 -1px BLACK;

  top: -50px;
  left: 50%;
  translate: -50%;
}

/* 메인카드 영역 */
.card-box {
  perspective: 1000px;
  position: absolute;
  width: var(--main-card-width);
  height: var(--main-card-height);
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  transform-style: preserve-3d;
  transition: 0.5s;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  justify-items: center;

  rotate: y 0;
  transition: 0.5s;
  border-radius: 1rem;

  box-shadow: 0 0 10px #000;
}
/* 카드 앞면 */
.card-front {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  /* 배경이미지 넣기 */
  /* 입체에서 앞면을 z축으로 앞으로 이동 */
  translate: 0 0 2px;
  transform-style: preserve-3d;
}
.card-front img {
  width: 100%;
  height: 100%;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  /* 뒷면이미지를 정상이미지로
  보려면 사실 180deg Y축회전필요! */
  background: #fff no-repeat 0/100% 100%;
  translate: 0 0 1px;
  transform-style: preserve-3d;
}

/* 카드위치 조정 */
/* 첫번째 카드 */
.card-box .card:nth-child(1) {
  left: 400%;
}
/* 센터카드 */
.card-box .card:nth-child(2) {
  left: 0;
}
/* 세번째 카드 */
.card-box .card:nth-child(3) {
  left: -400%;
}
/* 네번째 카드 */
.card-box .card:nth-child(4) {
  left: -400%;
}

/* ========================================================
메인페이지 영역 종료
======================================================== */

/* ============== 서브페이지 시작 ============= */

/* 서브페이지 공통 */
.sub-wrap-box {
  max-width: min(1000px, 96vw);
  height: auto;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/*==================
2. 카드 소개페이지 
==================*/
/* 카드소개페이지 공통 부분 */
#top-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 5;
}
.sub-wrap-box {
  background-color: #eeeeee;
  border-radius: 1rem;
}
.card-detail-page {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 255px;
  height: 403px;

  overflow: hidden;
  overflow-y: scroll;
}

.inbox {
  width: 100%;
  height: 600px;
  box-sizing: border-box;
}
.card-detail-page .contant-wrap-box {
  height: auto;
  /* border-radius: 2rem; */
  position: relative;
}

/****** 카드 디테일 소개페이지 ******/
/*2-1 카드소개 상단 영역 */
.card-detail-top-area {
  position: relative;
}
.card-detail-top-img {
  height: auto;
  margin: 0;
}
/* 2-1-1. 카드소개 상단 이미지 */
.card-detail-top-img img {
  max-width: min(692px, 67vw);
  max-height: min(656px, 67vw);
  border-radius: 2rem;
}
/* 2-1-2. 카드소개 상단 텍스트 */
.card-detail-top-txt {
  margin: 70px 10px 20px 0;
}
.card-detail-top-txt ul {
  list-style: none;
  line-height: 2;
  padding: 0;
  margin: 0;
}
.card-detail-top-txt li:nth-child(1) {
  font-size: 1.5rem;
  font-weight: bold;
}
.card-detail-top-txt li:nth-child(2) {
  font-size: 3.1rem;
  font-weight: bold;
}
.card-detail-top-txt li:nth-child(3) {
  font-size: 1.5rem;
}
.card-detail-top-txt li:nth-child(4) {
  font-size: 1.5rem;
}

/* 2-1-3. 카드소개 상단 연회비박스 */
.card-detail-top-membership-box {
  padding: 10px;

  font-weight: bold;
  margin-right: 10px;
  border: 0.5px solid #737373;
  border-radius: 1rem;
  box-sizing: border-box;
}
.card-detail-top-membership-box p {
  font-size: 1.5rem;
}
.card-detail-top-membership-box ul {
  list-style: none;
  margin-top: 0.8rem;
  padding: 0;
  max-width: 100%;
  font-size: 1.5rem;
}
.card-detail-top-membership-box li {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  font-family: "Noto Sans Bengali UI", sans-serif;
  font-size: 1.5rem;
}
.card-detail-top-membership-box span {
  display: inline-block;
  opacity: 60%;
}
.card-detail-top-membership-box p {
  display: inline-block;
  margin: 0;
}

/* *****오버레이 영역 ******/

/* 오버레이 박스 */
.overlay-box {
  max-width: min(960px);
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2rem;
}
.card-detail-top-area::after {
  position: absolute;
  /* 가상요소에 font awsome적용 성공! */
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 4rem;
  line-height: 35px;
  left: 50%;
  transform: translateX(-50%);
}

/********* 카드소개페이지 1영역 *********/
.overlay-box .card-part1 {
  text-align: center;
  height: auto;
  position: relative;
}
.card-part1 h1 {
  font-size: 4rem;
}
.card-part1 p {
  font-size: 2rem;
}

/* .overlay-box .card-part1 img {
  width: 230px;
  height: 364px;
} */

/* 카드 그리드 */
.card-detail-grid {
  display: grid;
  max-width: 880px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: min(7rem, 3vw);
  justify-items: center;
  justify-content: center;
  padding: 7rem 0;
}
/* 그리드 각 박스 공통 */
.card-detail-grid > div {
  /* 부모자격  */
  position: relative;
  vertical-align: middle;

  transition: 0.4s;
}
.card-detail-grid > div:hover {
  scale: 1.1;
  transition: 0.4s;
  z-index: 1;
}
.card-detail-grid span {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  line-height: 5rem;
  font-weight: bold;
}

.view-card-detail {
  box-shadow: 5px 5px 10px #000;
  width: 230px;
  height: 360px;
  border-radius: 1rem;
}
/* 그리드 카드 이미지 */
.card-detail1 {
  background: url(../imgs/navercard/img_navercard_1.png) no-repeat center/100%;
}
.card-detail2 {
  background: url(../imgs/navercard/img_navercard_2.png) no-repeat center/100%;
}
.card-detail3 {
  background: url(../imgs/navercard/img_navercard_3.png) no-repeat center/100%;
}
.card-detail4 {
  background: url(../imgs/navercard/img_navercard_4.png) no-repeat center/100%;
}
.card-detail5 {
  background: url(../imgs/navercard/img_navercard_5.png) no-repeat center/100%;
}
.card-detail6 {
  background: url(../imgs/navercard/img_navercard_6.png) no-repeat center/100%;
}
/************* 선택카드 디테일 팝업페이지 *************/

/* 디테일 팝업페이지 배경 */

/********* 카드소개페이지 2영역 *********/
.overlay-box .card-part2 {
  position: relative;
  margin-top: 5rem;
  font-weight: bold;
  height: min(560px, 51vw);
}
.overlay-box .card-part2-txt {
  width: 50%;
  margin-left: 0;
}
.overlay-box .card-part2-txt p {
  line-height: 5rem;
}
.overlay-box .card-part2-txt p:nth-child(1) {
  font-size: 2.8rem;
}
.overlay-box .card-part2-txt p:nth-child(2) {
  font-size: 4rem;
}
.overlay-box .card-part2 a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}
.overlay-box .card-part2-naver-logo {
  position: absolute;
  width: min(425px, 42vw);
  height: min(208px, 21vw);
  top: 0;
  right: 0;
}
.overlay-box .card-part2-naver-logo img {
  width: 100%;
  height: 100%;
}

.overlay-box .card-part2 .naver-membership-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  /* 플렉스 */
  display: flex;
  justify-content: space-between;
}
.box-green {
  position: relative;
  width: 520px;
  height: min(325px, 31vw);
  background-color: #00b016;
  border-radius: 2rem;
  padding: 30px;
  box-sizing: border-box;
}
.box-green p {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  line-height: 5rem;
}
.box-green p:nth-child(1) {
  font-size: 2.4rem;
  color: #fff;
  opacity: 0.6;
  font-weight: bold;
  line-height: 3.2rem;
  margin-bottom: 2.5rem;
}
.box-green a {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  bottom: 2rem;
  right: 2rem;
  background: #000;
  opacity: 70%;
  border-radius: 50%;
}
.box-green i {
  font-size: 3.2rem;
}

.box-gray {
  position: relative;
  width: 340px;
  height: min(325px, 31vw);
  background-color: #f5f5f5;
  border-radius: 2rem;
  padding: 30px 20px;
  box-sizing: border-box;
}
.box-gray p {
  font-size: 4rem;
  color: #000;
  font-weight: bold;
  line-height: 5rem;
}
.box-gray p:nth-child(1) {
  font-size: 2.4rem;
  color: #000;
  font-weight: bold;
  line-height: 3.2rem;
  margin-bottom: 2.5rem;
}
.box-gray a {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  bottom: 2rem;
  right: 2rem;
  background: #000;
  opacity: 70%;
  border-radius: 50%;
}
.box-gray i {
  font-size: 3.2rem;
}

/********* 카드소개페이지 3영역 *********/
.overlay-box .card-part3 {
  height: auto;
  margin-top: 100px;
  justify-items: center;
  text-align: center;
}
.card-part3-applepay-logo img {
  width: 110px;
}
.card-part3-txt1 {
  margin-top: 30px;
}
.card-part3-txt1 p {
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: bold;
}
.card-part3-txt1 p:nth-child(4) {
  display: block;
  margin-top: 1.5rem;

  font-size: 1.6rem;
  font-weight: medium;
}
.card-part3-txt1 a {
  display: block;
  margin-top: 3rem;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}
.card-part3-3rd-logo {
  margin-top: 100px;
}
.card-part3-txt2 p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.card-part3-txt2 p:nth-child(1) {
  font-size: 2rem;
  line-height: 5.5rem;
  font-weight: bold;
}

/********* 카드소개페이지 4영역 *********/
.card-part4 {
  margin-top: 50px;
  height: auto;
}
.card-part4 p {
  font-size: 2rem;
  font-weight: bold;
}
.card-part4-list {
  padding: 20px;
}
.card-part4-list ul li {
  font-size: 1.4rem;
  font-weight: 350;
}
.card-part4-list .ul-ul li {
  list-style-type: "\- ";
  list-style-position: inside;
}
.card-part4::after {
  content: "";
  display: block;
  border: 0.5px solid #e0e0e060;
}

/********* 카드소개페이지 5영역 *********/
.card-part5 {
  margin-top: 40px;
  height: auto;
}
.card-part5-list {
  padding: 20px;
}
.card-part5-list ul li {
  font-size: 1.4rem;
  font-weight: 350;
}
.card-part5-list .ul-ul li {
  list-style-type: "- ";
  list-style-position: inside;
}

/******************* 애플페이 소개페이지 *******************/
.wrap {
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 100%;
  height: 0vh;
  overflow: hidden;
  overflow-y: scroll;
}
.wrap::-webkit-scrollbar {
  display: none;
}
/* 닫기버튼 */
.close-stick-area {
  position: absolute;
  width: 50px;
  height: 86%;
  right: 2%;
}
#top-close-button-applepage {
  position: sticky;
  top: 10px;
  left: 96%;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 5;
}
.applepay-page {
  padding: 0;
  background-color: #fff;
  position: relative;
}
.applepay-page h1 {
  font-size: 4rem;
}
.applepay-page h2 {
  font-size: 3rem;
}
.applepay-page .inbox {
  padding: 0 20px;
}

/********* 애플페이 1영역 *********/
.ap-part1 {
  background-color: #000;
  border-radius: 1rem 1rem 0 0;
  color: #fff;
  text-align: center;
}
/* 3-1-1 상단로고 */
.ap-part1 {
  position: relative;
}
.ap-part1-top-logo {
  position: absolute;
  top: 4%;
  left: 50%;
  translate: -50%;
  width: 300px;

  content: "";
  display: flex;
  justify-content: space-between;
}
.ap-part1-top-logo span::after {
  content: "";
  display: block;
  border: 1px solid #fff;
  height: 32px;
}

/* 3-1-2 텍스트 */
.ap-part1-txt {
  margin-top: 35%;
  line-height: 2;
}

/* 3-1-3 핸드폰 */
.phone-area {
  position: absolute;
  top: 2%;
  right: 13%;
  width: 223px;
  height: 71%;
}
.move-phone {
  position: sticky;
  top: 8%;
  right: 14%;
  width: 223px;
  height: 454px;
}
.move-phone span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.6s ease-out;
}
.move-phone img {
  width: 100%;
  height: 100%;
}

.move-phone span p {
  position: absolute;
  top: 101%;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  color: #5c5c5c;
}
.p-on {
  display: "";
}

/********* 스틱키바*********/
.sticky-area {
  position: absolute;
  top: 9.4%;
  left: 1%;
  width: 385px;
  height: 80%;
  z-index: 10;
}
.stickybar {
  position: sticky;
  top: 1%;
  /* max-width: min(385px, 41vw); */
  max-height: 50px;
  border-radius: 3rem;
}
.stickybar ul {
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}
.stickybar li:hover {
  background-color: #cccccc;
}
.stickybar li {
  width: auto;
  font-size: 2rem;
  padding: 8px;
  border-radius: 3rem;
  color: #707070;
  background-color: #dfdfdf;
  font-weight: bold;
}
.stickybar li:nth-child(1) {
  color: #fff;
  background-color: #000;
}

/********* 애플페이 2영역 *********/
.ap-part2-txt {
  font-size: 2.4rem;
}
.ap-part2-txt {
  margin-top: 70px;
}
.ap-part2-txt1 p {
  font-size: 3rem;
  font-weight: bold;
}
.ap-part2-txt2 p {
  font-size: 1.6rem;
  color: #5c5c5c;
}

/********* 애플페이 3영역 *********/
.inbox.ap-part3 {
  height: 3000px;
}

.ap-part3 .cont-box {
  align-items: flex-start;
}

.ap-part3-txt {
  position: sticky;
  top: 100px;
  align-content: center;
  text-align: start;
  margin: 100px 0 100px 0;
}

.ap-part3-txt1 p {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}
.ap-part3-txt2 ul {
  margin-top: 20px;
}
.ap-part3-txt2 li {
  font-size: 1.4rem;
  line-height: 1.5;
}
.ap-part3-txt2 li:last-child {
  font-weight: bold;
}

/********* 애플페이 4영역 *********/
.ap-part4-txt {
  align-content: center;
}
.ap-part4-txt1 h1 {
  margin: 10px;
}
.ap-part4-txt1 p {
  font-size: 2rem;
  font-weight: bold;
}
.watch-sec {
  margin-top: 40px;

  max-width: 380px;
  height: 160px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background: #d9d9d9;
  border-radius: 12px;
}
.watch-sec-txt-box p {
  font-size: 1.4rem;
}
.watch-sec-txt-box p:first-child {
  font-weight: bold;
}
.watch-sec-img-box img {
  width: 80px;
}
.ap-part4-txt2 {
  display: block;
  margin-top: 10px;
}
.ap-part4-txt2 p {
  font-size: 1.4rem;
}
.ap-part4-txt2 p:first-child {
  font-weight: bold;
}

/********* 애플페이 5영역 *********/

.ap-part5-txt {
  align-content: center;
  text-align: center;
}

.ap-part5-img-box {
  align-content: center;
  justify-items: center;
}
.ap-part5 .img-box {
  width: 300px;
}
.ap-part5-img-box img {
  width: 100%;
}

/********* 애플페이 6영역 *********/
.ap-part6-txt p {
  font-size: 4rem;
  font-weight: bold;
}
/* 브랜드박스 */
.brand-box {
  position: absolute;
  width: min(920px, 88vw);
  height: 350px;
  left: 50%;
  translate: -50%;
  overflow: hidden;
  margin-top: 20px;
}
.brand-box ul {
  display: flex;
  justify-content: space-between;
  width: 960px;
}

.brand-box ul li {
  list-style: none;
  width: 140px;
  height: 70px;
}
.brand-box ul li img {
  width: 140px;
  height: 100%;
}
/********* 애플페이 7영역 *********/

/* ============== 서브페이지 종료 ============= */

.select-card-popup {
  max-width: 580px;
  box-sizing: border-box;
  background: #030303ed;
  color: #fff;
  border-radius: 3rem;
  position: absolute;
  top: 26%;
  left: 50%;
  translate: -50%;

  z-index: 4;
}

/* 닫기버튼 */
#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 5;
}

/* 카드이름부분 */
.card-name-sec {
  text-align: center;
}
/* 카드이름 폰트설정 */
.overlay-box .card-name-sec p {
  font-size: 2rem;
  font-weight: bold;
}
/* 카드 이미지 부분 */
.card-detail-sec {
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0;
  gap: 10px;
}
/* 카드 이미지 앞뒤 글자 */
.card-detail-sec aside {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
}
/* 카드 이미지 앞면 */
.card-detail-sec-fornt img {
  position: relative;
  width: 170px;
  height: 270px;
}
/* 카드이미지 뒷면 */
.card-detail-sec-back img {
  position: relative;
  width: 170px;
  height: 270px;
}

/* 카드 설명 */
.card-txt-sec {
  margin-top: 2rem;
  font-size: 1.6rem;
}
/* 카드설명 폰트설정 */
.overlay-box .card-txt-sec p {
  text-align: center;
  font-size: 1.6rem;
}
.popup-wrap {
  margin: 25px 0;
}
/* ============스와이퍼============ */
.card-select-area {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  justify-content: center;
  align-items: center;
}

/* ================로딩화면=============== */
.loadbg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  z-index: 9999;
}
.bg3 {
  background: #000;
}
.bg2 {
  background: #4d63ee;
}
.bg1 {
  background: #ee554d;
}

.bg-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 50vw;
  z-index: 99999;

  content: "";
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bg-logo span::after {
  content: "";
  display: block;
  border: 1px solid #fff;
  height: 32px;
}

/* ==============멤버십 박스 추가=============== */
#show-membership-detail {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
}

.naver-membership-detail {
  position: absolute;
  top: 55%;
  left: 50%;
  translate: -50% -50%;
}
#close-membershipbox-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2.5rem;
  cursor: pointer;
  z-index: 5;
}
.memebrship-contant-box {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: min(850px, 100vw);
  height: 80vh;
  background: #fff;
  border-radius: 1rem;

  /* justify-items: center; */
  padding: 20px 100px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000;

  overflow: hidden;
  overflow-y: scroll;
}

.memebrship-contant-box h2 {
  font-size: 3rem;
}
.table-box {
  border-top: 2px solid #000;
}
.table-box th,
.table-box td {
  border-bottom: 1px solid #757575;
  padding: 16px 24px;
}

.alC {
  font-size: 1.6rem;
}
.logo_npayplus {
  display: inline-block;
  width: 60px;
  height: 19px;
  background: url(../imgs/card_detail_img/img_npayplus.png) no-repeat
    center/100%;
}
.dash_list li {
  font-size: 1.6rem;
}
.box_title p {
  font-size: 1.6rem;
}
.box_bg_gray {
  margin-top: 40px;
  padding: 24px;
  background: #fafafa;
  border-radius: 1rem;
}


.try-click{
  position: absolute;
  bottom: 10%;
  left: 50%;
  translate: -50%;
}
.try-click p{
  font-size: 2rem;
  font-weight: bold;
  animation: neon .5s linear alternate infinite;
}
@keyframes neon {
  to{
    text-shadow: 0 0 4px rgb(80, 75, 75);
  }
}

