@charset "utf-8";
/* 리셋 CSS - reset.css */
html {
  scroll-behavior: smooth;
}
html,
body,
p,
ul,
li {
  font-size: 10px;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
.blind {
  position: absolute;
  display: none;
}
