@charset "utf-8";
/* 현대카드 페이지 메인 CSS - main.css */

/* 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Gasoek+One&family=Gugi&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jua&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sunflower:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css");
/* 외부css 링크 모음 */
@import url(./reset.css);
@import url(./common.css);
@import url(./grid_12_flex.css);
@import url(./root.css);
@import url(./main-ani.css);
/*===================================================
메인영역 
===================================================*/
/* 임시 타이틀 */
.temt-tit {
  position: absolute;
  color: #888;
  font-size: 2vw;
  text-align: center;
  outline: none;
}

/* 전체 컨테이너 설정 */
.container {
  max-width: 100vw;
  height: auto;
}
/* 메인 페이지 랩박스 */
.main-wrap-box {
  /* 부모박스 설정*/
  position: relative;
  max-width: 100vw;
  height: 100vh;
  background: var(--main-bg-color);
}
/* ============================================
메인페이지 영역 시작
============================================ */

/*============== 1. 로고영역==============*/
.logo-area {
  height: 70px;
}
.logo-area .cont-box {
  padding: 0 20px;
}
.logo-area .col-2 {
  /* 로고앱솔루트의 부모로 만들어줌 */
  position: relative;
}
.logo {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}
/* 1-1. 현대카드로고 */
.hd-logo {
  left: 0;
  height: 40px;
}
.hd-logo img {
  height: 40px;
}
/* 1-2. 애플페이로고 */
.apple-logo {
  right: 0;
  height: 40px;
}
.apple-logo a {
  display: block;
}
.apple-logo img {
  height: 40px;
}

/*================= 2. 카드선택 및 오버 영역 설정 =================*/

/* 오버 내브 영역 설정*/
.hover-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
/* 카드 넘기는 영역 */
.card-nav-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.card-nav-area .col-4 {
  padding: 0;
}
/* nav-area 카드 넘기는 영역 공통 설정 */
.nav-area {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;

  text-decoration: none;
}
.nav-area span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  font-family: "K2D", sans-serif;
  font-size: 6rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5px #000;
}
/* 2-1. prev-area 영역 설정 */
.prev {
  right: 0;
  transition: 0.5s;
}
/* 언더바 가상요소 */
.prev::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px #000;

  top: 100%;
  right: 0;

  transition: 0.5s;
}
/* 넘기는 영역 오버시 prev, 가상요소 설정 */
.prev-nav-area:hover .prev,
.prev-nav-area:hover .prev::after {
  right: 30%;
  rotate: z -30deg;
  transform-origin: right top;
}

/* 2-3. next-area 영역 설정 */
.next {
  left: 0;
  transition: 0.5s;
}
/* 언더바 가상요소 */
.next::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px #000;

  top: 100%;
  left: 0;

  transition: 0.5s;
}
/* 넘기는 영역 오버시 next, 가상요소 설정 */
.next-nav-area:hover .next,
.next-nav-area:hover .next::after {
  left: 30%;
  rotate: z 30deg;
  transform-origin: left top;
}

/* 2-2. 카드선택 영역 설정 */
.card-select-area {
  perspective: 500px;
}
/* 카드이름 */
.card_name {
  margin: 0;
  padding: 0;
  text-align: center;
}
/* 카드 이름 꾸밈 */
.card p {
  font-size: 50px;
  fill: #00a414;
  color: #00a414;
  text-shadow: 0 0 5px #000;
  font-family: "josefin Sans", sans-serif;
  font-weight: bold;
  -webkit-text-stroke: 1px #000;
}

/* 카드 선택영역 포지션 */
.card {
  position: absolute;
  top: calc(50% - var(--main-card-height) / 2);
  left: calc(50% - var(--main-card-width) / 2);

  width: var(--main-card-width);
  height: var(--main-card-height);
  /* 3d스타일 */
  transform-style: preserve-3d;

  /* 트렌지션 */
  transition: all 0.3s;
  scale: 1;
}
/* 카드 hover 효과 */
.card:hover {
  scale: 1.1;
  transition: all 0.3s forwards;
}

.card a {
  display: contents;
}

.card span {
  position: absolute;
  width: var(--main-card-width);
  height: var(--main-card-height);
  /*  배경공통  */
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 메인카드 3d 작업 */
/* 카드 앞면 */
.card span:nth-child(1) {
  background-image: url(../imgs/navercard/img_navercard_1.png);
  /* z축이동 ->두께만들기*/
  /* transform : translateZ(20px); */
  translate: 0 0 5px;
}
/* 카드 뒷면 */
.card span:nth-child(2) {
  background-image: url(../imgs/navercard/img_card_NVHC_graffiti_back.png);
  /* background-color: var(--main-card-back-color); */
  /* border-radius: 15px; */
  /* z축 이동하기 ->두께 만들기*/
  translate: 0 0 -5px;

  /* 뒤집기 */
  rotate: Y 180deg;
}
/* 카드 오른쪽면 */
.card span:nth-child(3) {
  background-color: var(--main-card-side-color);
  /* 오른쪽끝으로 이동 */
  right: -5px;
  /* 가로크기 재설정 */
  width: var(--main-card-side-size);
  /* 높이 재설정 */
  top: 62px;
  height: calc(var(--main-card-height) - 24px);

  /* y축회전 90도 */
  rotate: y 90deg;
}
/* 카드 왼쪽면 */
.card span:nth-child(4) {
  background-color: var(--main-card-side-color);
  /* 가로크기 재설정 */
  width: var(--main-card-side-size);
  /* 높이 재설정 */
  top: 62px;
  height: calc(var(--main-card-height) - 24px);

  /* 왼쪽끝으로 이동 */
  left: -5px;

  /* y축회전 -90도 */
  rotate: y -90deg;
}
/* 카드 윗사이드 */
.card span:nth-child(5) {
  background-color: var(--main-card-side-color);
  /* 가로크기 재설정 */
  width: calc(var(--main-card-width) - 24px);
  left: 12px;

  /* 세로크기 재설정 */
  height: var(--main-card-side-size);

  /* 윗쪽끝으로 이동 */
  top: 45z px;

  /* x축회전 90도 */
  rotate: x 90deg;
}
/* 카드 아래사이드 */
.card span:nth-child(6) {
  background-color: var(--main-card-side-color);
  /* 가로크기 재설정 */
  width: calc(var(--main-card-width) - 24px);
  left: 12px;
  /* 세로크기 재설정 */
  height: var(--main-card-side-size);

  /* 아랫쪽끝으로 이동 */
  bottom: -5px;

  /* x축회전 90도 */
  rotate: x 90deg;
}

/****** 뒤에 깔린 카드 .card:nth-child(7~9)******/
.carddum {
  width: 100%;
  height: 100%;
}
.backcard {
  position: absolute;
  width: var(--main-card-width);
  height: var(--main-card-height);
  top: 55.3%;
  left: 50%;
  translate: -50% -50%;
  box-shadow: 0 0 10px #2e2e2e;
  border-radius: 14px;
}
/* 첫번째카드 */
.carddum span:nth-child(3) {
  background: url(../imgs/musinsacard/img_musinsacard_01.png) no-repeat
    center/100% 100%;
  rotate: z 4deg;
}
/* 두번째카드 */
.carddum span:nth-child(2) {
  background: url(../imgs/starbucks/img_starbuckscard_01.png) no-repeat
    center/100% 100%;
  rotate: z 8deg;
}
/* 세번째카드 */
.carddum span:nth-child(1) {
  background: url(../imgs/nexoncard/img_nexoncard_06.png) no-repeat center/100%
    100%;
  rotate: z 12deg;
}

/*===================== 3. 하단버튼영역 설정 =====================*/
/* 하단 버튼영역 */
.foot-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* ========================================================
메인페이지 영역 종료
======================================================== */

/* ============== 서브페이지 시작 ============= */

/* 서브페이지 공통 */
.sub-wrap-box {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  padding: 80px 20px;
  box-sizing: border-box;
}

/*==================
2. 카드 소개페이지 
==================*/
/* 카드소개페이지 공통 부분 */
.sub-wrap-box {
  background-color: #eeeeee;
  border-radius: 2rem;
}

.inbox {
  width: 100%;
  height: 600px;
  box-sizing: border-box;
}
.card-detail-page .contant-wrap-box {
  height: auto;
  /* border-radius: 2rem; */
}

/****** 카드 디테일 소개페이지 ******/
/*2-1 카드소개 상단 영역 */
.card-detail-top-area {
  position: relative;
}
.card-detail-top-img {
  width: 692px;
  height: auto;
  margin: 0;
}
/* 2-1-1. 카드소개 상단 이미지 */
.card-detail-top-img img {
  width: 692px;
  height: 656px;
  border-radius: 2rem;
}
/* 2-1-2. 카드소개 상단 텍스트 */
.card-detail-top-txt {
  position: absolute;
  top: 50%;
  right: 0;
  translate: 0 -50%;
  width: 250px;
}

.card-detail-top-txt ul {
  list-style: none;
  line-height: 2;
}
.card-detail-top-txt li:nth-child(1) {
  font-size: 1.8rem;
  font-weight: bold;
}
.card-detail-top-txt li:nth-child(2) {
  font-size: 3.7rem;
  font-weight: bold;
}
.card-detail-top-txt li:nth-child(3) {
  font-size: 1.8rem;
}
.card-detail-top-txt li:nth-child(4) {
  font-size: 1.8rem;
}

/* 2-1-3. 카드소개 상단 연회비박스 */
.card-detail-top-membership-box {
  position: absolute;
  top: 70%;
  right: 0;
  width: 250px;
  height: 105px;
  padding: 10px;

  font-size: 15px;
  font-weight: bold;

  border: 0.5px solid #737373;
  border-radius: 1rem;
  box-sizing: border-box;
}

.card-detail-top-membership-box ul {
  list-style: none;
  margin-top: 0.8rem;
  max-width: 100%;
}
.card-detail-top-membership-box li {
  display: flex;
  line-height: 2;
  font-family: "Noto Sans Bengali UI", sans-serif;
}
.card-detail-top-membership-box span {
  display: inline-block;
  opacity: 60%;
  flex: 1 1 auto;
}
.card-detail-top-membership-box p {
  display: inline-block;
  flex: 1 1 auto;
}

/* *****오버레이 영역 ******/
/* 오버레이 박스 */
.overlay-box {
  min-width: 960px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 2rem;
}
.card-detail-top-area::after {
  position: absolute;
  /* 가상요소에 font awsome적용 성공! */
  content: "\f0d7";
  font-family: FontAwesome;
  font-size: 4rem;
  line-height: 35px;
  left: 50%;
  transform: translateX(-50%);
}

/********* 카드소개페이지 1영역 *********/
.overlay-box .card-part1 {
  text-align: center;
  height: auto;
}
.overlay-box .card-part1 p {
  font-size: 4rem;
  font-weight: bold;
  line-height: 5rem;
}
.overlay-box .card-part1 img {
  width: 230px;
  height: 364px;
}

/* 카드 그리드 */
.card-detail-grid {
  display: grid;
  max-width: 880px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem 7rem;

  padding: 7rem 0;
}
/* 그리드 각 박스 공통 */
.card-detail-grid > div {
  /* 부모자격  */
  position: relative;
  height: auto;
  vertical-align: middle;

  transition: 0.4s;
}
.card-detail-grid > div:hover {
  scale: 1.1;
  transition: 0.4s;
}
.card-detail-grid span {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  line-height: 5rem;
  font-weight: bold;
}

/********* 카드소개페이지 2영역 *********/
.overlay-box .card-part2 {
  position: relative;
  margin-top: 5rem;
  font-weight: bold;
  height: 560px;
}
.overlay-box .card-part2-txt {
  width: 50%;
  margin-left: 0;
}
.overlay-box .card-part2-txt p {
  line-height: 5rem;
}
.overlay-box .card-part2-txt p:nth-child(1) {
  font-size: 2.8rem;
}
.overlay-box .card-part2-txt p:nth-child(2) {
  font-size: 4rem;
}
.overlay-box .card-part2 a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}
.overlay-box .card-part2-naver-logo {
  position: absolute;
  width: 425px;
  height: 208px;
  top: 0;
  right: 0;
}
.overlay-box .card-part2-naver-logo img {
  width: 100%;
  height: 100%;
}

.overlay-box .card-part2 .naver-membership-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  /* 플렉스 */
  display: flex;
  justify-content: space-between;
}
.box-green {
  position: relative;
  width: 520px;
  height: 325px;
  background-color: #00b016;
  border-radius: 2rem;
  padding: 30px;
  box-sizing: border-box;
}
.box-green p {
  font-size: 4rem;
  color: #fff;
  font-weight: bold;
  line-height: 5rem;
}
.box-green p:nth-child(1) {
  font-size: 2.4rem;
  color: #fff;
  opacity: 0.6;
  font-weight: bold;
  line-height: 3.2rem;
  margin-bottom: 2.5rem;
}
.box-green a {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  bottom: 2rem;
  right: 2rem;
  background: #000;
  opacity: 70%;
  border-radius: 50%;
}
.box-green i {
  font-size: 3.2rem;
}

.box-gray {
  position: relative;
  width: 325px;
  height: 325px;
  background-color: #f5f5f5;
  border-radius: 2rem;
  padding: 30px 20px;
  box-sizing: border-box;
}
.box-gray p {
  font-size: 4rem;
  color: #000;
  font-weight: bold;
  line-height: 5rem;
}
.box-gray p:nth-child(1) {
  font-size: 2.4rem;
  color: #000;
  font-weight: bold;
  line-height: 3.2rem;
  margin-bottom: 2.5rem;
}
.box-gray a {
  position: absolute;
  width: 3.2rem;
  height: 3.2rem;
  bottom: 2rem;
  right: 2rem;
  background: #000;
  opacity: 70%;
  border-radius: 50%;
}
.box-gray i {
  font-size: 3.2rem;
}

/********* 카드소개페이지 3영역 *********/
.overlay-box .card-part3 {
  height: auto;
  margin-top: 100px;
  justify-items: center;
  text-align: center;
}
.card-part3-applepay-logo img {
  width: 110px;
}
.card-part3-txt1 {
  margin-top: 30px;
}
.card-part3-txt1 p {
  text-align: center;
  font-size: 2rem;
  line-height: 3.5rem;
  font-weight: bold;
}
.card-part3-txt1 p:nth-child(4) {
  display: block;
  margin-top: 1.5rem;

  font-size: 1.6rem;
  font-weight: medium;
}
.card-part3-txt1 a {
  display: block;
  margin-top: 3rem;
  text-align: center;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000;
}
.card-part3-3rd-logo {
  margin-top: 100px;
}
.card-part3-txt2 p {
  font-size: 1.6rem;
  line-height: 2.6rem;
}
.card-part3-txt2 p:nth-child(1) {
  font-size: 2rem;
  line-height: 5.5rem;
  font-weight: bold;
}

/********* 카드소개페이지 4영역 *********/
.card-part4 {
  margin-top: 50px;
  height: auto;
}
.card-part4 p {
  font-size: 2rem;
  font-weight: bold;
}
.card-part4-list {
  padding: 20px;
}
.card-part4-list ul li {
  font-size: 1.4rem;
  font-weight: 350;
}
.card-part4-list .ul-ul li {
  list-style-type: "\- ";
  list-style-position: inside;
}
.card-part4::after {
  content: "";
  display: block;
  border: 0.5px solid #e0e0e060;
}

/********* 카드소개페이지 5영역 *********/
.card-part5 {
  margin-top: 40px;
  height: auto;
}
.card-part5-list {
  padding: 20px;
}
.card-part5-list ul li {
  font-size: 1.4rem;
  font-weight: 350;
}
.card-part5-list .ul-ul li {
  list-style-type: "- ";
  list-style-position: inside;
}
.card-part5::after {
  position: absolute;
  margin-top: 20px;
  left: 50%;
  translate: -50%;
  width: 960px;
  content: "";
  display: block;
  border: 0.5px solid #000;
}

/* 애플페이 소개페이지 */
.applepay-page {
  padding: 0;
  background-color: #fff;
  position: relative;
  height: 100%;
}
.applepay-page .inbox {
  padding: 0 20px;
}

/********* 애플페이 1영역 *********/
.ap-part1 {
  background-color: #000;
  border-radius: 20px 20px 0 0;
  color: #fff;
  text-align: center;
}
/* 3-1-1 상단로고 */
.ap-part1 {
  position: relative;
}
.ap-part1-top-logo {
  position: absolute;
  top: 4%;
  left: 50%;
  translate: -50%;
  width: 300px;

  content: "";
  display: flex;
}
.ap-part1-top-logo span::after {
  content: "";
  display: block;
  border: 1px solid #fff;
  height: 32px;
}

/* 3-1-2 텍스트 */
.ap-part1-txt {
  margin-top: 45%;
  line-height: 2;
}
.ap-part1 h2 {
  font-size: 3rem;
}
.ap-part1 h3 {
  font-size: 2rem;
}
.ap-part2 h1 {
  font-size: 4rem;
}

/* 3-1-3 핸드폰 */
.move-phone{
  position: fixed;
  top: 2%;
  right: 14%;
  width: 223px;
  height: 454px;
  
}
.move-phone span{
  content: "";
  display: block;
  background: url(../imgs/applepay/applepay_01.png) no-repeat center/cover;
  width: 100%;
  height: 100%;
}

/* ============== 서브페이지 종료 ============= */
